menu "RFID Module Configuration"

config USE_ETH
    bool "Enable Ethernet connectivity"
    default false
    help
        Enables Ethernet connectivity

config USE_WIFI
    bool "Enable WiFi connectivity"
    default false
    help
        Enables WiFi connectivity

config WIFI_SSID
    string "WiFi SSID"
	default "myssid"
    depends on USE_WIFI
	help
		SSID (network name).

config WIFI_PASSWORD
    string "WiFi Password"
	default "passwd"
    depends on USE_WIFI
	help
		WiFi password (WPA or WPA2).

		Can be left blank if the network has no security set.

config SERVER_HOST
    string "Server Host"
	default "192.168.0.1"
	help
		Hostname of the server (can be DNS domain).

config SERVER_PORT
    int "Server Port"
	default 3000
	help
		Port of the server.

config SERVER_SSL
    bool "Server SSL"
    default false
    help
        Use SSL when connecting to server.

config USE_MDNS
    bool "mDNS service discovery"
    default true
    help
        Enables mDNS automatic service discovery

endmenu